html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

:root {
	--lightpurp: #ce93d8
    --purp: #524763;
    --darkpurp: #373142;
    --heavypurp: #6a1b9a;
	--mediumpurp: #8e24aa;
	--purp-20: #6a5c80;

    --blue: #2196f3;
    --niceblue: #40a5ed;
    --babyblue: #ecf6fd;
    --twitterblue: #1da1f2;
    --indigo: #3f51b5;
    --blue: #2196f3;

    --darkred: #b71c1c;
    --red: #b71c1c;
    --mediumred: #e53935;
    --lightred: #e57373;

    --lightpink: #f48fb1;
    --mediumpink: #d81b60;
    --darkpink: #880e4f;

    --lightteal: #80cbc4;
    --teal: #009688;
    --darkteal: #004d40;

    --darkgreen: #1b5e20;
    --lightgreen: #a5d6a7;
    --green: #43a047;

    --darkorange: #e65100;
    --orange: #fb8c00;
    --accent-color: #fb8c00;
	--lightorange: #ffb74;
	
	--primary-color: white;
	--primary-bg-color: var(--purp-20);
	--nice-gradient:  linear-gradient(to right, var(--lightpink), white);
	--top-color:var(--darkpurp);
--bottom-color:var(--purp-20);
--my-gradient: linear-gradient(to right,var(--top-color), var(--bottom-color));


}